/* Coolors Exported Palette - https://coolors.co/fbfeff-fbe405-fedc9f-e97001-1b5492 */

/* CSS HEX */
--white: #fbfeffff;
--middle-yellow: #fbe405ff;
--navajo-white: #fedc9fff;
--safety-orange: #e97001ff;
--usafa-blue: #1b5492ff;

/* CSS HSL */
--white: hsla(195, 100%, 99%, 1);
--middle-yellow: hsla(54, 97%, 50%, 1);
--navajo-white: hsla(39, 98%, 81%, 1);
--safety-orange: hsla(29, 99%, 46%, 1);
--usafa-blue: hsla(211, 69%, 34%, 1);

/* SCSS HEX */
$white: #fbfeffff;
$middle-yellow: #fbe405ff;
$navajo-white: #fedc9fff;
$safety-orange: #e97001ff;
$usafa-blue: #1b5492ff;

/* SCSS HSL */
$white: hsla(195, 100%, 99%, 1);
$middle-yellow: hsla(54, 97%, 50%, 1);
$navajo-white: hsla(39, 98%, 81%, 1);
$safety-orange: hsla(29, 99%, 46%, 1);
$usafa-blue: hsla(211, 69%, 34%, 1);

/* SCSS RGB */
$white: rgba(251, 254, 255, 1);
$middle-yellow: rgba(251, 228, 5, 1);
$navajo-white: rgba(254, 220, 159, 1);
$safety-orange: rgba(233, 112, 1, 1);
$usafa-blue: rgba(27, 84, 146, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-right: linear-gradient(
  90deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-left: linear-gradient(
  270deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
$gradient-radial: radial-gradient(
  #fbfeffff,
  #fbe405ff,
  #fedc9fff,
  #e97001ff,
  #1b5492ff
);
